@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Montserrat:wght@600&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@400;600;700;800&family=Roboto&family=Teko:wght@500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body{
  overflow: hidden;
    font-family: 'Raleway', sans-serif;
color: white;
  padding-top: 40px;
  background-color: rgb(0, 39, 44);
}
@media screen and (max-width:768px) {
  body{
    overflow: hidden;
    /* overflow-x: hidden; */
  }
}